.Home {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.Home .Container {
  width: 100%;
  height: 100vh;
}

.Home .Video {
  width: 100%;
  height:100%;
  object-fit: cover;
  padding-top: 20px;
  /* position: absolute; */
}

.Home .Hello {
  position: absolute;
  color: #fff;
  font-family: 'BenchNine';
  font-size: 40px;
  font-weight: 700;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home .Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}