.Navbar {
  /* background-color: #da70d6; */
  background-color: #000;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: end;
  align-items: center;
  opacity: 1;
}

.Navbar nav ul {
  list-style: none;
  margin: 0;
  padding-right: 100px;
}

.Navbar nav ul li {
  display: inline-block;
  margin: 20px;
}

.Navbar nav ul li a {
  text-decoration: none;
  color: #fff;
  font-family: 'BenchNine';
  font-size: 25px;
  font-weight: 700;
}

.Navbar a:hover {
  /* border-bottom: 5px solid #afdcec; */
  border-bottom: 5px solid #da70d6;
}