.Container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
  padding-bottom: 2%;

}

.Container hr {
  position: absolute;
  left: 0;
  width: 124px;
  border: 2px solid #da70d6;
}

.Header {
  font-size: 50px;
  font-family: 'BenchNine';
  font-weight: 700;
  color: #000
}

@media (max-width: 767px) {
  .Container hr {
    position: absolute;
    left: 0;
    width: 40px;
    border: 2px solid #da70d6;
  }
}