.Container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
  padding-bottom: 2%;

}

.Container hr {
  position: absolute;
  left: 0;
  width: 24px;
  width: 124px;
  border: 1px solid #da70d6;
}