.Clases {
  background-color: #8d2189;
  width: 100%;
  height: 100%;
}

.Clases .Waveviolet {
  width: 100%;
}

.Clases .Clasescontent {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  
}

@media (max-width: 767px) {

  .Clases .Clasescontent {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    
  }
}