.Estimulos {

}

.Estimulos .Clasescontent {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 70px;
  gap: 40px;
}

/* .Estimulos .Clasescontent .Paragraph {
  display: flex;
  position: relative;
  justify-content: center;
} */

.Estimulos .Clasescontent .Paragraph .Tituloestimulos {
  font-size: 35px;
  font-family: 'BenchNine';
  font-weight: 700;
  color: #fff;
}

.Estimulos .Clasescontent .Paragraph .Textoestimulos {
  font-size: 25px;
  font-family: 'BenchNine';
  font-weight: 700;
  color: #fff;
  text-align: justify;
}

.Estimulos .Clasescontent .Paragraph .Marcofotoestimulos {
  display: flex;
  position: relative;
  justify-content: center;
}

.Fotoestimulos {
  height: auto;
  width: 500px;
}

@media (max-width: 1024px) {

  .Estimulos .Clasescontent {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 70px;
    gap: 0px;
  }

  .Estimulos .Clasescontent .Paragraph .Marcofotoestimulos {
    display: flex;
    position: relative;
    justify-content: center;
  }

  .Fotoestimulos {
    height: auto;
    width: 300px;
    display: flex;
    position: relative;
    justify-content: center;
  }
}